@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@300;400&display=swap');

/* possible color palette */
/*
#e8443c - red
#e94445 - lighter red
#264c5e - bluish grey
#a34c50 - darker red
#cec2ae - greyish tan
#4a2932 - even darker red
*/

/* possible class colors */
/*
#E7623E - Barbarian (Orange)
#AB6DAC - Bard (Pink)
#91A1B2 - Cleric
#7A853B - Druid (Green)
#7F513E - Fighter (Brown)
#51A5C5 - Monk (Light blue)
#B59E54 - Paladin (Gold)
#507F62 - Ranger (Dark green)
#555752 - 
#992E2E
#7B469B
#2A50A1
*/

/* Default tag stylings */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #cec2ae;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 0.35em;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    transition: all 0.2s;
}

/* navbar styling */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #264c5e;
    color: #fff
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 45px;
}

.navbar-left-container {
    display: flex;
}

.navbar-left-container .mamb-logo {
    padding-right: 80px;
}

.navbar-left-container .mamb-logo > a{
    color: #fff;
}

.navbar-left-list {
    display: flex;
}

.navbar-left-list > li {
    padding-right: 30px;
}

.navbar-left-list > li > a {
    border-bottom: 2px solid transparent;
    color: #fff;
    padding-bottom: 6px;
    transition: all 0.2s;
}

.navbar-left-list > li > a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

/* Navbar Right side / login button */
.navbar-right-container .login-btn {
    background-color: #264c5e;
}

.navbar-right-container .login-btn:hover {
    background-color: #305d72;
    border: 1px solid #000;
}

.login-background {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
}

.login-container {
    position: relative;
    width: 410px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 20px;
}

.close-login {
    position: absolute;
    cursor: pointer;
    font-size: 23px;
    top: 15px;
    right: 10px;
    transition: color 0.2s;
}

.close-login:hover {
    color: red;
}

.login-header {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 600;
}

.input-container {
    width: 100%;
    height: 45px;
    padding-bottom: 40px;
}

.input-container:first-child {
   padding-top: 10px;
}

.input-container > label {
    display: block;
    font-size: 16px;
}

.input-container > input {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    font-size: 16px;
}

.forgot-pw-container > a:hover {
    text-decoration: underline;
}

.login-container > .login-continue-btn {

}

.form-btn-center {
    display: flex;
    justify-content: center;
}

.create-acc-container {
    display: flex;
    justify-content: center;
}

.create-acc-container > a:hover {
    text-decoration: underline;
}